In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
def create_sma(X:pd.DataFrame) -> pd.DataFrame:
    data = X[['DATE','ID','CLOSE']].set_index('DATE')
    for ids in data.ID.unique():
        temp = data.loc[data.ID==ids]
        temp['SMA_9D'] = data.CLOSE.rolling(9).mean().shift()
        temp['SMA_21D'] = data.CLOSE.rolling(21).mean().shift()
        temp['SMA_3M'] = data.CLOSE.resample('M').mean().rolling(3).mean().shift()
        temp['SMA_6M'] = data.CLOSE.resample('M').mean().rolling(6).mean().shift()
        data = pd.concat([data,temp])
    
    return data

In [18]:
X = pd.read_csv('data/bloomberg20240504.csv')
X.DATE = pd.to_datetime(X.DATE)

In [19]:
X.sort_values(by=['ID', 'DATE'], ascending=False, inplace=True)

# Calculate moving averages
X['SMA_3D'] = X.groupby('ID')['CLOSE'].transform(lambda x: x.rolling(window=3).mean())
X['SMA_9D'] = X.groupby('ID')['CLOSE'].transform(lambda x: x.rolling(window=9).mean())
X['SMA_21D'] = X.groupby('ID')['CLOSE'].transform(lambda x: x.rolling(window=21).mean())
X['SMA_3M'] = X.groupby('ID')['CLOSE'].transform(lambda x: x.rolling(window=63).mean())

In [20]:
X.drop(columns=['Unnamed: 0'], inplace=True)

In [21]:
X

,DATE,ID,CLOSE,VOLUME,HIGH,VOLATILITY_90D,SMA_3D,SMA_9D,SMA_21D,SMA_3M
7,2024-05-03,XOM,116.000,28023313,116.070,18.108,NaN,NaN,NaN,NaN
28,2024-05-02,XOM,116.240,25513648,117.260,18.099,NaN,NaN,NaN,NaN
47,2024-05-01,XOM,116.030,27789759,118.470,18.099,116.090000,NaN,NaN,NaN
57,2024-04-30,XOM,118.270,21083294,120.200,17.751,116.846667,NaN,NaN,NaN
65,2024-04-29,XOM,119.640,17343755,120.050,17.892,117.980000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
54972,2010-09-07,AAPL,9.208,342825252,9.269,112.786,9.331000,9.541778,9.931571,10.660619
54978,2010-09-03,AAPL,9.242,520788268,9.242,113.779,9.280000,9.475889,9.880286,10.627365
54993,2010-09-02,AAPL,9.006,415425192,9.006,115.003,9.152000,9.379000,9.835286,10.589968
55010,2010-09-01,AAPL,8.940,697035220,8.981,116.117,9.062667,9.300000,9.780524,10.552508
55023,2010-08-31,AAPL,8.682,420786408,8.734,116.917,8.876000,9.200889,9.711381,10.513937