In [3]:
!pip3 install -r ../requirements.txt

Collecting dash==2.17.0 (from -r ../requirements.txt (line 1))
  Using cached dash-2.17.0-py3-none-any.whl.metadata (10 kB)
Collecting numpy==1.26.4 (from -r ../requirements.txt (line 2))
  Using cached numpy-1.26.4-cp311-cp311-macosx_10_9_x86_64.whl.metadata (61 kB)
Collecting pandas==2.2.2 (from -r ../requirements.txt (line 3))
  Using cached pandas-2.2.2-cp311-cp311-macosx_10_9_x86_64.whl.metadata (19 kB)
Collecting plotly==5.22.0 (from -r ../requirements.txt (line 4))
  Using cached plotly-5.22.0-py3-none-any.whl.metadata (7.1 kB)
Collecting scipy==1.13.0 (from -r ../requirements.txt (line 5))
  Using cached scipy-1.13.0-cp311-cp311-macosx_10_9_x86_64.whl.metadata (60 kB)
Collecting gunicorn==22.0.0 (from -r ../requirements.txt (line 7))
  Using cached gunicorn-22.0.0-py3-none-any.whl.metadata (4.4 kB)
Collecting Flask<3.1,>=1.0.4 (from dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached flask-3.0.3-py3-none-any.whl.metadata (3.2 kB)
Collecting Werkzeug<3.1 (from dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached werkzeug-3.0.3-py3-none-any.whl.metadata (3.7 kB)
Collecting dash-html-components==2.0.0 (from dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached dash_html_components-2.0.0-py3-none-any.whl.metadata (3.8 kB)
Collecting dash-core-components==2.0.0 (from dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached dash_core_components-2.0.0-py3-none-any.whl.metadata (2.9 kB)
Collecting dash-table==5.0.0 (from dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached dash_table-5.0.0-py3-none-any.whl.metadata (2.4 kB)
Collecting importlib-metadata (from dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached importlib_metadata-7.1.0-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: typing-extensions>=4.1.1 in /Users/hassan/Library/Python/3.11/lib/python/site-packages (from dash==2.17.0->-r ../requirements.txt (line 1)) (4.11.0)
Collecting requests (from dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting retrying (from dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached retrying-1.3.4-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: nest-asyncio in /Users/hassan/Library/Python/3.11/lib/python/site-packages (from dash==2.17.0->-r ../requirements.txt (line 1)) (1.6.0)
Requirement already satisfied: setuptools in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from dash==2.17.0->-r ../requirements.txt (line 1)) (65.5.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/hassan/Library/Python/3.11/lib/python/site-packages (from pandas==2.2.2->-r ../requirements.txt (line 3)) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas==2.2.2->-r ../requirements.txt (line 3))
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas==2.2.2->-r ../requirements.txt (line 3))
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting tenacity>=6.2.0 (from plotly==5.22.0->-r ../requirements.txt (line 4))
  Downloading tenacity-8.3.0-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: packaging in /Users/hassan/Library/Python/3.11/lib/python/site-packages (from plotly==5.22.0->-r ../requirements.txt (line 4)) (24.0)
Collecting Jinja2>=3.1.2 (from Flask<3.1,>=1.0.4->dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached jinja2-3.1.4-py3-none-any.whl.metadata (2.6 kB)
Collecting itsdangerous>=2.1.2 (from Flask<3.1,>=1.0.4->dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached itsdangerous-2.2.0-py3-none-any.whl.metadata (1.9 kB)
Collecting click>=8.1.3 (from Flask<3.1,>=1.0.4->dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached click-8.1.7-py3-none-any.whl.metadata (3.0 kB)
Collecting blinker>=1.6.2 (from Flask<3.1,>=1.0.4->dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached blinker-1.8.2-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: six>=1.5 in /Users/hassan/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas==2.2.2->-r ../requirements.txt (line 3)) (1.16.0)
Collecting MarkupSafe>=2.1.1 (from Werkzeug<3.1->dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached MarkupSafe-2.1.5-cp311-cp311-macosx_10_9_x86_64.whl.metadata (3.0 kB)
Collecting zipp>=0.5 (from importlib-metadata->dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached zipp-3.18.1-py3-none-any.whl.metadata (3.5 kB)
Collecting charset-normalizer<4,>=2 (from requests->dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached charset_normalizer-3.3.2-cp311-cp311-macosx_10_9_x86_64.whl.metadata (33 kB)
Collecting idna<4,>=2.5 (from requests->dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached idna-3.7-py3-none-any.whl.metadata (9.9 kB)
Collecting urllib3<3,>=1.21.1 (from requests->dash==2.17.0->-r ../requirements.txt (line 1))
  Using cached urllib3-2.2.1-py3-none-any.whl.metadata (6.4 kB)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->dash==2.17.0->-r ../requirements.txt (line 1)) (2024.2.2)
Using cached dash-2.17.0-py3-none-any.whl (7.5 MB)
Using cached numpy-1.26.4-cp311-cp311-macosx_10_9_x86_64.whl (20.6 MB)
Using cached pandas-2.2.2-cp311-cp311-macosx_10_9_x86_64.whl (12.6 MB)
Using cached plotly-5.22.0-py3-none-any.whl (16.4 MB)
Using cached scipy-1.13.0-cp311-cp311-macosx_10_9_x86_64.whl (39.3 MB)
Using cached gunicorn-22.0.0-py3-none-any.whl (84 kB)
Using cached dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Using cached dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Using cached dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Using cached flask-3.0.3-py3-none-any.whl (101 kB)
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Downloading tenacity-8.3.0-py3-none-any.whl (25 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Using cached werkzeug-3.0.3-py3-none-any.whl (227 kB)
Using cached importlib_metadata-7.1.0-py3-none-any.whl (24 kB)
Using cached requests-2.31.0-py3-none-any.whl (62 kB)
Using cached retrying-1.3.4-py3-none-any.whl (11 kB)
Using cached blinker-1.8.2-py3-none-any.whl (9.5 kB)
Using cached charset_normalizer-3.3.2-cp311-cp311-macosx_10_9_x86_64.whl (121 kB)
Using cached click-8.1.7-py3-none-any.whl (97 kB)
Using cached idna-3.7-py3-none-any.whl (66 kB)
Using cached itsdangerous-2.2.0-py3-none-any.whl (16 kB)
Using cached jinja2-3.1.4-py3-none-any.whl (133 kB)
Using cached MarkupSafe-2.1.5-cp311-cp311-macosx_10_9_x86_64.whl (14 kB)
Using cached urllib3-2.2.1-py3-none-any.whl (121 kB)
Using cached zipp-3.18.1-py3-none-any.whl (8.2 kB)
Installing collected packages: pytz, dash-table, dash-html-components, dash-core-components, zipp, urllib3, tzdata, tenacity, retrying, numpy, MarkupSafe, itsdangerous, idna, gunicorn, click, charset-normalizer, blinker, Werkzeug, scipy, requests, plotly, pandas, Jinja2, importlib-metadata, Flask, dash
Successfully installed Flask-3.0.3 Jinja2-3.1.4 MarkupSafe-2.1.5 Werkzeug-3.0.3 blinker-1.8.2 charset-normalizer-3.3.2 click-8.1.7 dash-2.17.0 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 gunicorn-22.0.0 idna-3.7 importlib-metadata-7.1.0 itsdangerous-2.2.0 numpy-1.26.4 pandas-2.2.2 plotly-5.22.0 pytz-2024.1 requests-2.31.0 retrying-1.3.4 scipy-1.13.0 tenacity-8.3.0 tzdata-2024.1 urllib3-2.2.1 zipp-3.18.1

In [4]:
import pandas as pd
import numpy as np
import datetime as dt

In [5]:
X = pd.read_csv('../assets/data.csv')

In [6]:
def pivotToClose(df:pd.DataFrame) -> pd.DataFrame:
    if not pd.api.types.is_datetime64_any_dtype(df['DATE']):
        df['DATE'] = pd.to_datetime(df['DATE'])

    # Pivot the DataFrame to wide format
    transformed_df = df.pivot(index='DATE', columns='ID', values='CLOSE')

    return transformed_df

def getData(df:pd.DataFrame, stocks:list[str], start:pd.DatetimeIndex, end:pd.DatetimeIndex) -> tuple[pd.DataFrame, pd.DataFrame]:
    X = df.loc[df.ID.isin(stocks)].loc[df.DATE > start].loc[df.DATE < end]
    stockData = X[['ID','DATE','CLOSE']]
    stockData = pivotToClose(stockData)
    returns = stockData.pct_change()
    meanReturns = returns.mean()
    covMatrix = returns.cov()
    return returns, meanReturns, covMatrix

In [8]:
Xp = pivotToClose(X)
Xp

ID,AAPL,AMT,AMZN,COST,GE,GLD,JNJ,JPM,MARK,NFLX,NVDA,PFE,SO,T,TSLA,XOM
DATE,,,,,,,,,,,,,,,,
2010-06-02,NaN,41.45,6.316,58.950,78.2486,119.7800,59.73,39.55,21.5000,15.826,3.1800,14.4088,32.69,18.7033,NaN,60.770
2010-06-03,NaN,42.48,6.438,57.930,78.7272,117.9600,59.77,39.10,21.0000,15.979,3.1750,14.4396,32.83,18.7184,NaN,61.560
2010-06-04,NaN,41.51,6.139,56.173,75.1857,119.1900,58.01,37.62,23.7000,15.683,3.0238,13.9870,32.13,18.2429,NaN,59.525
2010-06-07,NaN,41.90,6.101,55.850,73.7499,121.4900,58.00,36.72,18.9000,15.594,2.8756,13.7642,32.28,18.3562,NaN,59.300
2010-06-08,NaN,42.25,5.942,56.660,74.0849,121.0025,58.64,37.78,19.5000,15.761,2.7950,13.7927,32.84,18.8468,NaN,61.240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-29,173.50,174.99,180.960,726.330,164.4900,216.1800,146.82,193.28,0.1279,559.490,877.5700,25.6400,74.39,17.0200,194.05,119.640
2024-04-30,170.33,171.56,175.000,722.900,161.8200,211.8700,144.59,191.74,0.1374,550.640,864.0200,25.6200,73.50,16.8900,183.28,118.270
2024-05-01,169.30,176.84,179.000,722.220,159.7000,213.7900,151.18,191.86,0.1250,551.710,830.4100,27.1800,74.52,16.9200,179.99,116.030
2024-05-02,173.03,179.64,184.720,732.440,162.6400,213.1300,149.92,191.66,0.1209,565.150,858.1700,27.7000,75.33,16.8200,180.01,116.240
2024-05-03,183.38,181.74,186.210,743.900,164.1100,212.9600,149.27,190.51,0.1237,579.340,887.8900,27.8100,75.85,16.8500,181.19,116.000

In [10]:
stocks = ['AAPL','NVDA','JNJ']
startDate = '2015-01-01'
endDate = '2017-01-01'

R, M, C = getData(X,stocks,startDate,endDate)

In [13]:
C

ID        AAPL       JNJ      NVDA
ID
AAPL  0.000250  0.000056  0.000134
JNJ   0.000056  0.000091  0.000059
NVDA  0.000134  0.000059  0.000677

In [14]:
Xp.corr()

ID,AAPL,AMT,AMZN,COST,GE,GLD,JNJ,JPM,MARK,NFLX,NVDA,PFE,SO,T,TSLA,XOM
ID,,,,,,,,,,,,,,,,
AAPL,1.000000,0.818438,0.895913,0.974915,-0.442202,0.721032,0.841508,0.876631,-0.668922,0.811180,0.835031,0.656944,0.915893,-0.750538,0.940605,0.047718
AMT,0.818438,1.000000,0.931609,0.823598,-0.624366,0.504516,0.919432,0.873072,-0.623825,0.886309,0.534176,0.817372,0.848621,-0.400717,0.762486,-0.294602
AMZN,0.895913,0.931609,1.000000,0.892845,-0.560846,0.614398,0.886273,0.924299,-0.611900,0.963709,0.723079,0.701087,0.824049,-0.550323,0.836457,-0.253707
COST,0.974915,0.823598,0.892845,1.000000,-0.390919,0.684000,0.853897,0.902803,-0.684916,0.820403,0.879447,0.668768,0.923873,-0.672717,0.883961,0.122843
GE,-0.442202,-0.624366,-0.560846,-0.390919,1.000000,-0.430086,-0.424043,-0.416768,0.431406,-0.536170,-0.125125,-0.422265,-0.378551,0.496005,-0.404123,0.487281
GLD,0.721032,0.504516,0.614398,0.684000,-0.430086,1.000000,0.383951,0.491001,-0.609163,0.519312,0.678353,0.191203,0.652065,-0.662470,0.680331,0.000419
JNJ,0.841508,0.919432,0.886273,0.853897,-0.424043,0.383951,1.000000,0.916143,-0.528764,0.842103,0.602714,0.874430,0.860031,-0.365647,0.765212,-0.038450
JPM,0.876631,0.873072,0.924299,0.902803,-0.416768,0.491001,0.916143,1.000000,-0.565728,0.919836,0.768984,0.728025,0.838737,-0.474015,0.779088,-0.017900
MARK,-0.668922,-0.623825,-0.611900,-0.684916,0.431406,-0.609163,-0.528764,-0.565728,1.000000,-0.541978,-0.540075,-0.449640,-0.705817,0.489405,-0.575146,0.026384
NFLX,0.811180,0.886309,0.963709,0.820403,-0.536170,0.519312,0.842103,0.919836,-0.541978,1.000000,0.690982,0.646543,0.720131,-0.486089,0.728981,-0.296400
NVDA,0.835031,0.534176,0.723079,0.879447,-0.125125,0.678353,0.602714,0.768984,-0.540075,0.690982,1.000000,0.323208,0.719235,-0.669929,0.714281,0.271637
PFE,0.656944,0.817372,0.701087,0.668768,-0.422265,0.191203,0.874430,0.728025,-0.449640,0.646543,0.323208,1.000000,0.717046,-0.228726,0.661325,-0.021376
SO,0.915893,0.848621,0.824049,0.923873,-0.378551,0.652065,0.860031,0.838737,-0.705817,0.720131,0.719235,0.717046,1.000000,-0.501697,0.838814,0.109360
T,-0.750538,-0.400717,-0.550323,-0.672717,0.496005,-0.662470,-0.365647,-0.474015,0.489405,-0.486089,-0.669929,-0.228726,-0.501697,1.000000,-0.709058,-0.077466
TSLA,0.940605,0.762486,0.836457,0.883961,-0.404123,0.680331,0.765212,0.779088,-0.575146,0.728981,0.714281,0.661325,0.838814,-0.709058,1.000000,-0.009641
XOM,0.047718,-0.294602,-0.253707,0.122843,0.487281,0.000419,-0.038450,-0.017900,0.026384,-0.296400,0.271637,-0.021376,0.109360,-0.077466,-0.009641,1.000000